body {
  background-color: #DCDCDD;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  color: #DCDCDD;
  overflow: hidden;
}

.site-header {
  font-size: 25px;
  background-color: #1985A1;
  width: 100%;
  top: 0px;
  position: fixed;
  color: #DCDCDD;
  padding: 10px;
  height: 40px;
  line-height: 150%;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.53);
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 10px;
}

.site-header a:link, a:visited {
  text-decoration: none;
  color: #DCDCDD;
}

.site-header a {
  margin: 10px;
}

.container {
  background-color: #C5C3C6;
  width: 80%;
  float: left;
  margin-left: 10%;
  margin-top: 60px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  overflow: scroll;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
}

.post {
  background-color: #4C5C68;
  border-radius: 10px;
  padding: 0.5%;
  margin: 0.5% 0% 0.5% 15%;
  width: 70%;
  float: left;
  word-wrap: normal;
  word-break: break-all;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
}

.post-header {
  font-size: 50px;
}

.post-header a {
  text-decoration: none;
}

.profile-details {
  color: #46494C;
}

.profile-button-container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.follow-button {
  border-radius: 5px;
  background-color: green;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 1.5%;
  border: 1px solid #46494C;
}

.unfollow-button {
  border-radius: 5px;
  background-color: red;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 1.5%;
  border: 1px solid #46494C;
}

.edit-profile {
  border-radius: 5px;
  background-color: #DCDCDD;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 1.5%;
  border: 1px solid #46494C;
}

.profile-picture {
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #46494C;
}

.profile-picture img {
  width: 100%;
  height: 100%;
}

.profile-username {
  font-size: 40px;
  text-align: center;
  margin: 5px 0 10px 0;
}

.user-details {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.user-details {
  width: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.follower-details {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.follower-details {
  width: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-details td {
  width: 33%;
  border-left: 0.5px solid #46494C;
}

.follower-details table, tr, td {
  width: 50%;
  border-left: 0.5px solid #46494C;
}

.post-page-container {
  width: 70%;
  float: left;
  margin-left: 15%;
  background-color: #4C5C68;
  padding: 1%;
  top: 0;
  bottom: 0;
  position: absolute;
  word-wrap: normal;
  word-break: break-all;
  overflow: scroll;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
}

.post-title {
  font-size: 60px;
  text-align: right;
}

.poster-details {
  font-style: italic;
  margin: 0 0 1% 0;
  text-align: right;
}

.comment-card {
  background-color: #1985A1;
  border-radius: 5px;
  margin: 1% 0 1% 0;
  height: 75px;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
}

.comment-picture {
  height: 50px;
  width: 50px;
  float: left;
  margin: 12.5px;
  border-radius: 50%;
  overflow: hidden;
}

.comment-card img {
  width: 100%;
  height: 100%;
}

.comment-content {
  line-height: 450%;
}

.comment-box {
  margin-top: 40px;
}

.comment-box textarea {
  width: 78%;
  max-width: 78%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-width: 78%;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  font-size: 20px;
}

.commennt-button {
  width: 20%;
  margin-left: 2%;
  float: right;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
}

.register-card {
  background-color: #4C5C68;
  width: 20%;
  float: left;
  margin-left: 40%;
  margin-top: 20%;
  border-radius: 5px;
  height: 30%;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
}

.register-card input {
  border-radius: 5px;
  width: 70%;
  text-align: center;
  float: left;
  margin: 5px 0 5px 15%;
  height: 25px;
  border: 1px;
  padding: 0px;
}

.register-card button {
  border-radius: 5px;
  width: 70%;
  height: 25px;
  margin: 15px 0 10px 15%;
  padding: 0px;
}

.login-card {
  background-color: #4C5C68;
  width: 20%;
  float: left;
  margin-left: 40%;
  margin-top: 20%;
  border-radius: 5px;
  height: 20%;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
}

.login-header {
  font-size: 40px;
  text-align: center;
  margin: 10px;
}

.login-card input {
  border-radius: 5px;
  width: 70%;
  text-align: center;
  float: left;
  margin: 5px 0 5px 15%;
  height: 25px;
  border: 1px;
  padding: 0px;
}

.login-card button {
  border-radius: 5px;
  width: 70%;
  height: 25px;
  margin: 15px 0 10px 15%;
  padding: 0px;
}

.create-post {
  background-color: #4C5C68;
  width: 70%;
  float: left;
  margin-left: 15%;
  margin-top: 5%;
  border-radius: 5px;
  height: 70%;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.15);
}

.create-post-title {
  text-align: left;
  font-size: 40px;
  float: left;
  margin-top: 1%;
  margin-left: 15%;
  height: 50px;
}

.input-heading {
  font-size: 20px;
  font-style: italic;
  float: left;
  margin-left: 15%;
}

.create-post form {
  margin-top: 75px;
}

.create-post input {
  border-radius: 5px;
  width: 70%;
  float: left;
  margin: 5px 0 5px 15%;
  height: 35px;
  border: 1px;
  font-size: 20px;
}

.create-post textarea {
  border-radius: 5px;
  width: 70%;
  float: left;
  margin: 5px 0 5px 15%;
  height: 60%;
  border: 1px;
  height: 450px;
  resize: none;
}

.create-post button {
  border-radius: 5px;
  width: 70%;
  height: 35px;
  margin: 15px 0 10px 15%;
  padding: 0px;
}

.all-posts {
  
}
