<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Run</title>
</head>

<body>
  <div class="site-header">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/registration">Sign Up</a>
    <a href="/user/{{liu}}" id="usr-profile">Profile</a>
  </div>

  {{{body}}}

</body>

</html>
