<div class="create-post">
  <div class="create-post-title">
    New Post
  </div>
  <form action="/post/new" method="post">
    <div class="input-heading">
      Title
    </div>
    <input type="text" name="title" required/>
    <div class="input-heading">
      Content
    </div>
    <textarea type="tex" name="content" required></textarea>
    <button type="submit" name="button">Create Post</button>
  </form>
</div>
