<div class="update-card">
  <div class="login-header">
    Update Profile
  </div>
  <form action="/updateprofile" method="post" encType="multipart/form-data">
    <input type="text" name="forename" placeholder="First Name" />
    <input type="text" name="surname" placeholder="Last Name" />
    <input type="text" name="location" placeholder="Location" />
    <input type="text" name="fav_lang" placeholder="Favourite Language" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="confirmpass" placeholder="Confirm Password" />
    <input type="file" name="file" accept="image/*">
    <button type="submit">Update</button>
  </form>
</div>
