<div class="following-posts">

</div>
<div class="new-posts">

</div>
<div class="all-posts">
  {{#each posts}}
    <div class="post">
      <div class="post-header">
        <a href="/post/{{pid}}">{{title}}</a>
      </div>
      <div class="post-image">
        <img src="/assets/post/{{post_image}}" alt="post_image">
      </div>
      {{{content}}}
      <br>
    </div>
  {{/each}}
</div>
